body{
    background-color:#0d78e7;
    color:#fff; font-family: 'Gothic A1', serif;
    margin:0;
}

.data-container{
    text-align:center;
    width:25%;
    margin: 0 auto;
    margin-top:50px;
}

.sub-container{
    text-align:left;
}

.title{
    margin-top:250px;
    text-align:center;
}

.enter-task-container{
    width:100%;
    border: 6px solid #fff;
    margin: 0 auto;
}

.enter-task-form{
    width:100%;
}

.tasks-table-container{
    width:100%;
}

.task-legend{
    text-align:left;
}

.task-table{
    width:100%;
}

.edit-task-container{
    display:none;
}
